@import "tailwindcss";

@layer base {
  body {
    @apply m-0 font-sans antialiased;
  }
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
